.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-tc {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.massive-title {
    font-size: calc(100vw / 10);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sub-massive-title {
    font-size: 9em;;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* tsubaki hover */
.btn-dark:hover {
    background-color: #bc002e;
    color: white;
    border-color: #bc002e;
    transition: none;
}
a.text-dark:hover {
    color: #bc002e !important;
}
a.text-secondary:hover {
    color: #bc002e !important;
}

.text-tsubaki {
    color: #bc002e;
}
.bg-tsubaki {
    background-color: #bc002e !important;
}
.btn-tsubaki {
    background-color: #bc002e !important;
    color: white;
}
.btn-tsubaki:hover {
    background-color: black !important;
    color: white;
}

/* tcyan */
.text-tcyan {
    color: #00b4b2 !important;
}
.bg-tcyan {
    background-color: #00b4b2 !important;
}
.btn-tcyan {
    background-color: #00b4b2 !important;
    color: white;
}

/* tblue */
.text-tblue {
    color: #003255 !important;
}
.bg-tblue {
    background-color: #003255 !important;
}
.btn-tblue {
    background-color: #003255 !important;
    color: white;
}